# Terraform state files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Exclude .terraform directory
.terraform/

# Ignore override files as they are usually used to override resources locally
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include tfvars files but ignore any specific ones containing sensitive information
*.tfvars
!terraform.tfvars

# Ignore personal editor or OS specific files
.idea/
*.swp
*.bak
*.tmp
.DS_Store
